{% extends 'base.html.twig' %}

{% block title %}scraping des données{% endblock %}

{% block body %}
<div class="container">

    <h1>récupération des données End Of Day</h1>

    <h3>
    {% if lastDate is not null %}
    La dernière date est le {{ lastDate }}.
    {% else %}
    Il n'y a pas encore d'historique.
    {% endif %}
    </h3>

    <table>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">clôture</th>
            <th scope="col">ouverture</th>
            <th scope="col">plus haut</th>
            <th scope="col">plus bas</th>
        </tr>
        {% for row in displayData %}
            <tr>
            {% for eachRow in row %}
                <td>{{ eachRow }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {# asset() ne fonctionne pas dans Twig... #}

</div>
{% endblock %}
