{% extends 'base.html.twig' %}

{% block title %}WebTrader Homepage{% endblock %}

{% block body %}

    <header class="py-5 mt-4">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 custom-card text-center position-relative">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Bienvenue !</h1>
                    <p class="fs-4">Simplifiez le suivi de vos investissements avec notre dashboard intégré. Suivez d'un coup d'oeil l'état de vos positions ouvertes, en attente ou vendues. Définissez vos niveaux d'intervention sur le marché. Prémunissez-vous contre les achats au plus haut en achetant uniquement sur des replis significatifs.</p>
                    <a class="btn btn-primary btn-lg" href="{{ path("app_dashboard") }}">voir le dashboard</a>
                </div>
                <div class="p-4 p-lg-5 d-none d-md-block underlying-shape text-center"></div>
            </div>
        </div>
    </header>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card custom-card--mini border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bar-chart"></i></div>
                            <h2 class="fs-4 fw-bold">Suivi du CAC40</h2>
                            <p class="mb-0">Suivez avec Webtrader l'indice de référence de la bourse de Paris</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card custom-card--mini border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-server"></i></div>
                            <h2 class="fs-4 fw-bold">Historique de données</h2>
                            <p class="mb-0">Retrouvez l'ensemble de vos positions depuis n'importe quel support</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card custom-card--mini border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-pie-chart-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Gestion de vos positions</h2>
                            <p class="mb-0">Suivez facilement l'ensemble de vos ordres en attente et en cours</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}