@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.underlying-shape {
    position: absolute;
    top: 70%;
    left: -70px;
    z-index: -1;
    width: 25%;
    height: 50%;
    background-color: #bedafd;
    border-radius: 50px;
}