// Override Bootstrap variables
$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.underlying-shape {
    position: absolute;
    top: 70%;
    left: -10em;
    z-index: -1;
    width: 25%;
    height: 50%;
    background-color: #bedafd;
    border-radius: 50px;
}

// Custom SCSS for feature component with Bootstrap icon
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}