.wrap-icon {
  border-radius: 2em;
  background-color: #0d6efd;
  transition: background-color 0.3s;
}

.wrap-icon:hover {
  background-color: darken(#0d6efd, 5%);
  transition: background-color 0.3s;
}