/* personnalise la table des cotations du CAC */
.custom-table {
    background-color: #1a2e45;
    color: #bad2ea;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 15px rgba(70,70,70,0.5);
}

/* personnalise le rendu des DataTables */
.dataTables_wrapper {
  border: 1px solid #ccc; /* Couleur et épaisseur de la bordure */
  padding: 10px; /* Espace intérieur pour un aspect visuel */
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 15px rgba(70,70,70,0.5);
}

/* Cible l'élément d'input de recherche de DataTables */
#data_filter input {
  max-width: 100px; /* Limite la margeur de l'input */
}

.dataTables_info {
  display: none;
}

.chart_card {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 15px rgba(70,70,70,0.5);
}